# ROS packages
[submodule "ipb_car_monitor"]
	path = src/ipb_car_monitor
	url = ../ipb_car_monitor.git
[submodule "ipb_car_launch"]
	path = src/ipb_car_launch
	url = ../ipb_car_launch.git
[submodule "ipb_car_hardware"]
	path = src/ipb_car_hardware
	url = ../ipb_car_hardware.git
# Other stuff
[submodule "docker_images"]
	path = src/docker_images
	url = ../docker_images.git
[submodule "raspbian"]
	path = src/raspbian
	url = ../raspbian.git
[submodule "wiki.wiki"]
	path = src/wiki.wiki
	url = ../wiki.wiki.git
[submodule "src/ouster_lidar"]
	path = src/ouster_lidar
	url = https://github.com/ouster-lidar/ouster-ros.git
[submodule "src/sbg_ros2_driver"]
	path = src/sbg_ros2_driver
	url = https://github.com/SBG-Systems/sbg_ros2_driver.git
[submodule "src/image_common"]
	path = src/image_common
	url = https://github.com/ros-perception/image_common.git
[submodule "src/pylon-ros-camera"]
	path = src/pylon-ros-camera
	url = https://github.com/nachovizzo/pylon-ros-camera.git
